@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: var(--color-red-500);
  --color-secondary: var(--color-blue-500);
  --font-roboto: Roboto, sans-serif;
  --color-mint: oklch(0.72 0.11 178);
  --color-input: #F2F2F2;

  --color-link: #007AFF;
  --color-divider: #E5E5E5
}

body {
  font-family: var(--font-roboto);
}

